[submodule "elastdocker"]
	path = elastdocker
	url = https://github.com/sherifabdlnaby/elastdocker.git
[submodule "text_inference/NER_module"]
	path = text_inference/NER_module
	url = https://github.com/ShearmanChua/NER-module.git
